[submodule "vendor/glm"]
	path = vendor/glm
	url = https://github.com/g-truc/glm
[submodule "vendor/minifb"]
	path = vendor/minifb
	url = https://github.com/emoon/minifb
[submodule "vendor/oneTBB"]
	path = vendor/oneTBB
	url = https://github.com/oneapi-src/oneTBB
